{% extends 'project/create_project.html' %}

{% block 'wizard-step' %}
  {% include 'project/wizard/_steps_list.html' with active_step='3' %}
  <div id="step-3">
    <h2 class="StepTitle">Add other pages</h2>
    <p>
        Add URLs to pages that were not found in the previous step. 
        One URL per line.
    </p>
    <form class="form-horizontal form-label-left">

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">URLs
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
      {% include 'project/wizard/_step_submit.html' %}
    </form>
  </div>
{% endblock 'wizard-step' %}