{% extends 'project/create_project.html' %}

{% load bootstrap3 %}

{% block 'wizard-step' %}
  {% include 'project/wizard/_steps_list.html' with active_step='4' %}
  <div id="step-4">
    <h2 class="StepTitle">Pre-visual assesment</h2>
    <p>Javascript code to be executed in the browser, before the visual assesment.
    </p>
    
    <form class="form-horizontal form-label-left" id="previsual-assesment-formset" method="POST">
      {{ previsual_assesment_formset.management_form }}
      {% csrf_token %}
      {% for form in previsual_assesment_formset %}
        <div class="formset-item">
          {% bootstrap_form form layout="horizontal" %}
        </div>
      {% endfor %}
      <button type="button" class="btn btn-primary add-formset-item">+</button>
      {% include 'project/wizard/_step_submit.html' %}
    </form>            
  </div>
{% endblock 'wizard-step' %}