{% extends 'project/create_project.html' %}

{% block 'wizard-step' %}
  {% include 'project/wizard/_steps_list.html' with active_step='4' %}
  <div id="step-4">
    <h2 class="StepTitle">Pre-visual assesment</h2>
    <p>Javascript code to be executed in the browser, before the visual assesment.
    </p>
    <form class="form-horizontal form-label-left">

      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">URL Patterns
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>


      <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">JS Code
        </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <textarea class="form-control" rows="3"></textarea>
        </div>
      </div>
      <button type="button" class="btn btn-primary">+</button>
      {% include 'project/wizard/_step_submit.html' %}
    </form>            
  </div>
{% endblock 'wizard-step' %}