{% extends 'base_chromeless.html' %}

{% block page_title %}Login{% endblock page_title %}
{% block page_body_class %}login{% endblock page_body_class %}

{% block content %}
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form method="POST">
              <h1>Login Form</h1>
              {% csrf_token %}
              {{ form.as_p }}
              <div>
                <button type="submit" class="btn btn-success">Log in</button>
              </div>

              <div class="clearfix"></div>

            </form>
          </section>
        </div>
      </div>
{% endblock content %}