{% extends 'base.html' %}

{% load static %}

{% block page_title %}New Project{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Add new project</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p>Complete the wizard to start tracking a new project's health</p>
        <div class="form_wizard wizard_horizontal">
          {% block 'wizard-step' %}
          {% endblock 'wizard-step' %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
