{% extends 'base.html' %}

{% load static %}

{% block page_title %}New Project{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Add new project</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">


        <!-- Smart Wizard -->
        <p>Complete the wizard to start tracking a new project's health</p>
        <div id="wizard" class="form_wizard wizard_horizontal">
          <ul class="wizard_steps">
            <li>
              <a href="#step-1">
                <span class="step_no">1</span>
                <span class="step_descr">
                                  Step 1<br />
                                  <small>Basic site details</small>
                              </span>
              </a>
            </li>
            <li>
              <a href="#step-2">
                <span class="step_no">2</span>
                <span class="step_descr">
                                  Step 2<br />
                                  <small>Scrape site</small>
                              </span>
              </a>
            </li>
            <li>
              <a href="#step-3">
                <span class="step_no">3</span>
                <span class="step_descr">
                                  Step 3<br />
                                  <small>Add other pages</small>
                              </span>
              </a>
            </li>
            <li>
              <a href="#step-4">
                <span class="step_no">4</span>
                <span class="step_descr">
                                  Step 4<br />
                                  <small>Pre-visual assesment</small>
                              </span>
              </a>
            </li>
            <li>
              <a href="#step-5">
                <span class="step_no">5</span>
                <span class="step_descr">
                                  Step 5<br />
                                  <small>Build initial database</small>
                              </span>
              </a>
            </li>            
          </ul>
          <div id="step-1">
            <form class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Project Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Project URL <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" rows="3" placeholder="Short project description"></textarea>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Breakpoints <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" rows="3" placeholder="List of breakpoint, one per line in '360x800px' format"></textarea>
                </div>
              </div>
            </form>

          </div>
          <div id="step-2">
            <h2 class="StepTitle">Step 2 Content</h2>
            <div class="state-1">
                <p>
                  Collecting all site pages
                </p>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" data-transitiongoal="65" aria-valuenow="65"></div>
                </div>
            </div>

            <div class="state-2">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Pages</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                        These are the site pages we found
                    </p>
                    <table id="datatable-checkbox" class="table table-striped table-bordered bulk_action jambo_table" width="100%">
                      <thead>
                        <tr class="headings">
                          <th>
                             <input type="checkbox" id="check-all" class="flat">
                          </th>
                          <th class="column-title">Title</th>
                          <th class="column-title">URL</th>
                          <th class="column-title no-link last"><span class="nobr">Action</span>
                          </th>                          
                          <th class="bulk-actions" colspan="3">
                              <div class="dropdown">
                                <a class="antoo dropdown-toggle" data-toggle="dropdown" role="button" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="#">Delete</a>
                                    </li>
                                </ul>
                              </div>
                          </th>                          
                        </tr>
                      </thead>


                      <tbody>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 1</td>
                          <td>https://example.com/page-1</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                         <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 2</td>
                          <td>https://example.com/page-2</td>
                          <td class=" last"><a href="#">Remove</a></td>                          
                        </tr>
                        <tr>
                            <td>
                                 <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 3</td>
                          <td>https://example.com/page-3</td>
                          <td class=" last"><a href="#">Remove</a></td>                          
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 4</td>
                          <td>https://example.com/page-4</td>
                          <td class=" last"><a href="#">Remove</a></td>                          
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 5</td>
                          <td>https://example.com/page-5</td>
                          <td class=" last"><a href="#">Remove</a></td>                          
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 6</td>
                          <td>https://example.com/page-6</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 7</td>
                          <td>https://example.com/page-7</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 8</td>
                          <td>https://example.com/page-8</td>
                          <td class=" last"><a href="#">Remove</a></td>                          
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 9</td>
                          <td>https://example.com/page-9</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 10</td>
                          <td>https://example.com/page-10</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 11</td>
                          <td>https://example.com/page-11</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 12</td>
                          <td>https://example.com/page-12</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 13</td>
                          <td>https://example.com/page-13</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                           <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 14</td>
                          <td>https://example.com/page-14</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 15</td>
                          <td>https://example.com/page-15</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 16</td>
                          <td>https://example.com/page-16</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 17</td>
                          <td>https://example.com/page-17</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 18</td>
                          <td>https://example.com/page-18</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 19</td>
                          <td>https://example.com/page-19</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 20</td>
                          <td>https://example.com/page-20</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 21</td>
                          <td>https://example.com/page-21</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 22</td>
                          <td>https://example.com/page-22</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 23</td>
                          <td>https://example.com/page-23</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 24</td>
                          <td>https://example.com/page-24</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 25</td>
                          <td>https://example.com/page-25</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 26</td>
                          <td>https://example.com/page-26</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                        <tr>
                          <td>
                             <input type="checkbox" id="check-all" class="flat" name="table_records">
                          </td>
                          <td>Page Title 27</td>
                          <td>https://example.com/page-27</td>
                          <td class=" last"><a href="#">Remove</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>                
            </div>
          </div>
          <div id="step-3">
            <h2 class="StepTitle">Add other pages</h2>
            <p>
                Add URLs to pages that were not found in the previous step. 
                One URL per line.
            </p>
            <form class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">URLs
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>

            </form>
          </div>
          <div id="step-4">
            <h2 class="StepTitle">Pre-visual assesment</h2>
            <p>Javascript code to be executed in the browser, before the visual assesment.
            </p>
            <form class="form-horizontal form-label-left">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">URL Patterns
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>


              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">JS Code
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
              </div>
              <button type="button" class="btn btn-primary">+</button>
            </form>            
          </div>
          <div id="step-5">
            <h2 class="StepTitle">Building initial database</h2>
            <p>Please wait while we parse the pages and build an initial database.</p>
            <p>This process will take a while, feel free to close the browser window. You will be notified when this process finishes.</p>
            <p class="mid_center"><img src="{% static 'images/loader.svg' %}"></p>
          </div>
        </div>
        <!-- End SmartWizard Content -->
      </div>
    </div>
  </div>
</div>
</div>
{% endblock content %}

{% block extra_stylesheets %}
    <!-- iCheck -->
    <link href="{% static 'bower_components/gentelella/vendors/iCheck/skins/flat/green.css' %}" rel="stylesheet">
    <!-- Datatables -->
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bower_components/gentelella/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css' %}" rel="stylesheet">
{% endblock extra_stylesheets %}

{% block extra_scripts %}
    <!-- iCheck -->
    <script src="{% static 'bower_components/gentelella/vendors/iCheck/icheck.min.js' %}"></script>
    <!-- Datatables -->
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/datatables.net-scroller/js/dataTables.scroller.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/jszip/dist/jszip.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/pdfmake.min.js' %}"></script>
    <script src="{% static 'bower_components/gentelella/vendors/pdfmake/build/vfs_fonts.js' %}"></script>
{% endblock extra_scripts %}