{% extends 'base.html' %}

{% load static %}

{% block page_title %}Projects{% endblock page_title %}

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Projects</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">

        <p><a href="/add/project" class="btn btn-sm btn-primary">Add project</a></p>

        <!-- start project list -->
        <table class="table table-striped projects">
          <thead>
            <tr>
              <th style="width: 1%">#</th>
              <th style="width: 20%">Project Name</th>
              <th>Project Health</th>
              <th>Team Members</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X1</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="57"></div>
                </div>
                <small>Tolerable</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X2</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="47"></div>
                </div>
                <small>Tolerable</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X3</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                </div>
                <small>Good</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X4</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-orange" role="progressbar" data-transitiongoal="60"></div>
                </div>
                <small>Tolerable</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X5</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="12"></div>
                </div>
                <small>Poor</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X6</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-red" role="progressbar" data-transitiongoal="35"></div>
                </div>
                <small>Poor</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X7</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="87"></div>
                </div>
                <small>Good</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X8</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                </div>
                <small>Good</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
            <tr>
              <td>#</td>
              <td>
                <a>Web Project X9</a>
                <br />
                <small>Created 01.01.2015</small>
              </td>
              <td class="project_progress">
                <div class="progress progress_sm">
                  <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="77"></div>
                </div>
                <small>Good</small>
              </td>
              <td>
                <ul class="list-inline">
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                  <li>
                    <img src="{% static 'bower_components/gentelella/production/images/user.png' %}" class="avatar" alt="Avatar">
                  </li>
                </ul>
              </td>              
            </tr>
          </tbody>
        </table>
        <!-- end project list -->

      </div>
    </div>
  </div>
</div>
{% endblock content %}